# Kerangka Web & Server
fastapi
uvicorn[standard]
python-multipart
httpx

# Pemrosesan PDF & Gambar
PyMuPDF
Pillow
pytesseract
opencv-python-headless
json_repair

# AI & Machine Learning
torch
transformers
sentencepiece
accelerate
timm